<!---Features of Jumj Starts-->
<link rel="stylesheet" href="/css/features.css">

<section class="gradient_custom_feature p-5">
    <div class="row justify-content-center">
        <div class="col-md-10 col-xl-8 text-center">
            <h3 class="mb-4 features-top">Features of JUMJ</h3>
            <h6 class="mb-4 pt-2 mb-md-5 pb-md-0 text-center">
                <img class="feature-image" style="width:auto;" height="32"
                    src="https://img.icons8.com/external-solidglyph-m-oki-orlando/32/000000/external-product-features-product-management-solid-solidglyph-m-oki-orlando"
                    alt="external-product-features-product-management-solid-solidglyph-m-oki-orlando" />
                Creating center of knowledge
            </h6>
        </div>
    </div>
    <div class="row text-center">

        <!-- 1 -->
        <div class="col-md-3 mb-5">
            <div class="card feature_card">
                <div class="card-up" style="background-color:rgb(122, 168, 145);  width: auto;"></div>
                <div class="avatar mx-auto bg-white">
                    <img src="/images/knowledge.png" class="rounded-circle img-fluid" />
                </div>
                <div class="card-body">
                    <h6 class="mb-4">Islamic Knowledge</h6>
                    <hr />
                </div>
            </div>
        </div>

        <!-- 2 -->
        <div class="col-md-3 mb-5">
            <div class="card feature_card">
                <div class="card-up " style="background-color:rgb(122, 168, 145);  width: auto;"></div>
                <div class="avatar mx-auto bg-white">
                    <img src="/images/courses.jpg" class="rounded-circle img-fluid" />
                </div>
                <div class="card-body">
                    <h6 class="mb-4">Different Courses</h6>
                    <hr />
                </div>
            </div>
        </div>

        <!-- 3 -->
        <div class="col-md-3 mb-5">
            <div class="card feature_card">
                <div class="card-up" style="background-color:rgb(122, 168, 145);  width: auto;"></div>
                <div class="avatar mx-auto bg-white">
                    <img src="/images/excellence2.png" class="rounded-circle img-fluid" />
                </div>
                <div class="card-body">
                    <h6 class="mb-4">Center of Excellence</h6>
                    <hr />
                </div>
            </div>
        </div>

        <!-- 4 -->
        <div class="col-md-3 mb-5">
            <div class="card feature_card">
                <div class="card-up" style="background-color: rgb(122, 168, 145);  width: auto;"></div>
                <div class="avatar mx-auto bg-white">
                    <img src="/images/brother1.jpg" class="rounded-circle img-fluid" />
                </div>
                <div class="card-body">
                    <h6 class="mb-4">الأخوة الإسلامية</h6>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</section>
<!--- Features of Jumj Ends-->