<link rel="stylesheet" href="/css/header.css">
<!---************nav ends**********--->
<nav class="navbar navbar-expand-lg fixed-top bg-white d-block p-2 text-bg-info">

    <div class="container-fluid">
        <a class="navbar-brand" href="../index.html">
            <img class="jumj-image" src="/images/favicon_io/jumj.png">
        </a>

        <div class="collapse  justify-content-center navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <!--- Home  --->

                <a class="nav-link  active" aria-current="page" href="/">
                    <img width="32" height="32" src="https://img.icons8.com/puffy/32/home.png" alt="home" />
                    Home</a>

                <!---   Campus  --->
                <li class="nav-item dropdown">
                    <a class="nav-link  dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                        href="pages/campus.html">
                        <img width="32" height="32"
                            src="https://img.icons8.com/external-kmg-design-flat-kmg-design/32/000000/external-university-college-kmg-design-flat-kmg-design.png"
                            alt="external-university-college-kmg-design-flat-kmg-design" />
                        Campus
                    </a>
                    <ul class="dropdown-menu">

                        <li class="dropdown-item">
                            <a class="text-info" href="/pages/Main-Health.html">Main-Health</a>
                            <i class="fa fa-angle-right"></i>

                        </li>

                        <li class="dropdown-item">
                            <a class="text-info" href="/pages/Jit.html">Jit</a>
                            <i class="fa fa-angle-right"></i>

                        </li>

                        <li class="dropdown-item">
                            <a class="text-info" href="/pages/Agri.html">Agri</a>
                            <i class="fa fa-angle-right"></i>

                        </li>

                        <li class="dropdown-item">
                            <a class="text-info" href="/pages/Beco.html">Beco</a>
                            <i class="fa fa-angle-right"></i>
                        </li>

                    </ul>
                </li>

                <!--- Irshad  --->
                <li class="nav-item dropdown" data-bs-theme="blue">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                        href="pages/campus.html">
                        <img width="53" height="53"
                            src="https://img.icons8.com/external-vectorslab-flat-vectorslab/53/000000/external-Holy-Quran-ramadan-and-eid-ul-fitr-vectorslab-flat-vectorslab.png"
                            alt="external-Holy-Quran-ramadan-and-eid-ul-fitr-vectorslab-flat-vectorslab" />
                        Irshad
                    </a>
                    <ul class="dropdown-menu">

                        <li class="dropdown-item">
                            <a class="text-info" href="/Main-Health.html">JUMJ</a>
                            <i class="fa fa-angle-right"></i>

                        </li>

                        <li class="dropdown-item">
                            <a class="text-info" href="/Jit.html">KJUMJ</a>
                            <i class="fa fa-angle-right"></i>

                        </li>

                        <li class="dropdown-item">
                            <a class="text-info" href="/Agri.html">AgriJUMJ</a>
                            <i class="fa fa-angle-right"></i>

                        </li>

                        <li class="dropdown-item">
                            <a class="text-info" href="/Beco.html">BecoJUMJ</a>
                            <i class="fa fa-angle-right"></i>
                        </li>

                    </ul>
                </li>

                <!--- Events   --->
                <li class="nav-item " data-bs-theme="blue">
                    <a class="nav-link " href="/login">
                        <img width="48" height="48" src="https://img.icons8.com/color/48/000000/writing-down.png"
                            alt="writing-down" />
                        Your Events
                    </a>
                </li>

                <!--- Contact   --->
                <li>
                    <a class="nav-link active" aria-current="page" href="/contact">
                        <img width="48" height="48"
                            src="https://img.icons8.com/color/48/000000/add-contact-to-company.png"
                            alt="add-contact-to-company" />
                        Contact Us</a>
                </li>

                <!--- News   --->
                <li>
                    <a class="nav-link active" aria-current="page" href="/news">
                        <img width="64" height="64"
                            src="https://img.icons8.com/external-flaticons-flat-flat-icons/64/000000/external-newspapers-public-relations-agency-flaticons-flat-flat-icons.png"
                            alt="external-newspapers-public-relations-agency-flaticons-flat-flat-icons" />
                        News</a>
                </li>

            </ul>


            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success rounded-pill" type="submit">Search</button>
            </form>

            <li class="no">
                <a href="./login"><button class='loginbtn rounded-pill'
                        onclick="document.getElementById('login-form').style.display='block'"
                        style="width:auto;">Login</button></a>
            </li>

        </div>

    </div>

</nav>

<!---  nav Ends  --->