<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jumj Page</title>

    <!-- Bootstrap link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/css/bootstrap.min.css"
        integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/header.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg fixed-top bg-white p-2 text-bg-info">

        <div class="container-fluid">
            <div>
                <a class="navbar-brand" href="/">
                    <img class="jumj_image" src="/images/favicon_io/jumj12.png">
                </a>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <!-- Home -->
                    <li class="nav-item">
                        <a class="nav-link" href="/" style="padding: 5px; text-decoration:none;">
                            <span class="text-success bg-light p-1 rounded">
                                <i class="fas fa-home me-1"></i>
                                Home
                            </span>
                        </a>
                    </li>

                    <!-- Campus -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false" href="#" style="padding: 5px; text-decoration:none;">
                            <span class="text-success bg-light p-1 rounded">
                                <i class="fas fa-university me-1"></i>
                                Campus
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item">
                                <a class="text-info" href="/pages/Main-Health.html">Main-Health</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="text-info" href="/pages/Jit.html">Jit</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="text-info" href="/pages/Agri.html">Agri</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="text-info" href="/pages/Beco.html">Beco</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Irshad -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false" href="#" style="padding: 5px; text-decoration:none;">
                            <span class="text-success bg-light p-1 rounded">
                                <i class="fas fa-book me-1"></i>
                                Irshad
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item">
                                <a class="text-info" href="/Main-Health.html">JUMJ</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="text-info" href="/Jit.html">KJUMJ</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="text-info" href="/Agri.html">AgriJUMJ</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="text-info" href="/Beco.html">BecoJUMJ</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Events -->
                    <li class="nav-item">
                        <a class="nav-link" href="/story" style="padding: 5px; text-decoration:none;">
                            <span class="text-success bg-light p-1 rounded">
                                <i class="fas fa-calendar-alt me-1"></i>
                                Events
                            </span>
                        </a>
                    </li>

                    <!-- Contact -->
                    <li class="nav-item">
                        <a class="nav-link" href="/contact" style="padding: 5px; text-decoration:none;">
                            <span class="text-success bg-light p-1 rounded">
                                <i class="fas fa-globe me-1"></i>
                                Contact Us
                            </span>
                        </a>
                    </li>

                    <!-- News -->
                    <li class="nav-item">
                        <a class="nav-link" href="/news" style="padding: 5px; text-decoration:none;">
                            <span class="text-success bg-light p-1 rounded">
                                <i class="fas fa-newspaper me-1"></i>
                                News
                            </span>
                        </a>
                    </li>

                    <!-- Students -->
                    <li class="nav-item">
                        <a class="nav-link" href="/students" style="padding: 5px; text-decoration:none;">
                            <span class="text-success bg-light p-1 rounded">
                                <i class="fas fa-users me-1"></i>
                                Students
                            </span>
                        </a>
                    </li>

                </ul>

                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success rounded-pill" type="submit">Search</button>
                </form>

                <a href="./login" class="nav-link">
                    <button class="btn loginbtn rounded-pill"
                        onclick="document.getElementById('login-form').style.display='block'"
                        style="width:auto; 
                        background-color: #fff;    padding-right: 3px; padding-left: 13px;    padding: 7px 17px;    border-radius: 20px;    color: #101C32;    transition: 0.4s ease-in-out;    text-decoration: none;    font-size: 0.9rem;    font-weight: 600;    border-radius: 5px;    border: 1px solid red;
                            text-decoration: none;     color: #fff;    background: rgb(248, 47, 47);    transition: 0.3s ease;">Login
                    </button>
                </a>
            </div>
        </div>
    </nav>

    <!-- Bootstrap JS (including Popper.js and jQuery) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-r4CEI0La0jyRKciIY4rqrqS3NlO1OX9bVCdCpvI9dW7V6K/N9TRddpPQK8FgP3z7"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>