<div class="container">
    <h3 class="text-center mb-4">Information</h3>
    <div id="statistic-content" class="row justify-content-center">

        <div class="col-md-3 col-sm-6 mb-4">
            <div class="card text-center h-100">
                <img style="width: 60px; height:70px;" class="mx-auto"
                    src="https://img.icons8.com/pastel-glyph/64/40C057/company--v2.png"
                    alt="Jama'a is Established in 1991" class="card-img-top">
                <div class="card-body">
                    <h4 class="statistic-value">+<span>1991 E.C</span></h4>
                    <h5 class="card-title">Established and Well Organised</h5>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <div class="card text-center h-100">
                <img style="width: 60px; height:70px;" class="mx-auto"
                    src="https://img.icons8.com/pastel-glyph/64/40C057/nation.png" alt="Jama'a member"
                    class="card-img-top ">
                <div class="card-body">
                    <h4 class="statistic-value">+<span>2,500</span></h4>
                    <h5 class="card-title">Jama'a Member</h5>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <div class="card text-center h-100">
                <img style="width: 60px; height:70px;" class="mx-auto"
                    src="https://img.icons8.com/ios-filled/50/40C057/parallel-tasks.png" class="card-img-top"
                    alt="Employees">
                <div class="card-body">
                    <h4 class="statistic-value">+<span>4</span></h4>
                    <h5 class="card-title">Sub-Jama'a at Campus</h5>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-4 mb-4">
            <div class="card text-center h-100">
                <img style="width: 60px; height:70px;" class="mx-auto"
                    src="https://img.icons8.com/pastel-glyph/64/40C057/location--v4.png" alt="Jama'a location"
                    class="card-img-top">
                <div class="card-body">
                    <h4 class="statistic-value"><span>Location</span></h4>
                    <h5 class="card-title">~ Jimma City</h5>
                </div>
            </div>
        </div>
    </div>
</div>