<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jumj Website</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <style>
        /* Your existing CSS */

        /* Media query for screens between 400px and 1000px */
        @media (min-width: 400px) and (max-width: 1000px) {

            /* Adjust styles for smaller screens here */
            body {
                background-color: lightblue;
                padding: 10px;
                /* Example: Increased padding for smaller screens */
                font-size: 14px;
                /* Example: Reduced font size for smaller screens */
            }

            .navbar-text {
                margin: 0;
                /* Example: Adjusted margin for smaller screens */
            }

            .btn-info {
                padding: 8px;
                /* Example: Adjusted padding for smaller screens */
            }

            .navbar-toggler {
                margin-right: 10px;
                /* Example: Adjusted margin for smaller screens */
            }

            .navbar-collapse {
                margin-top: 10px;
                /* Example: Adjusted margin for smaller screens */
            }

            .navbar-nav {
                text-align: center;
                /* Example: Centered text for smaller screens */
            }

            .navbar-nav .nav-link {
                padding: 8px;
                /* Example: Adjusted padding for smaller screens */
            }

            .offcanvas-body {
                padding: 10px;
                /* Example: Increased padding for smaller screens */
            }

            /* Add any other styles you want to apply within this range */
        }
    </style>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class=" collapse navbar-collapse text-center" id="navbarSupportedContent">
                <div class="col navbar-text mx-2">
                    <a class="btn btn-info" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                        aria-controls="offcanvasExample">
                        <img width="30" height="25" src="https://img.icons8.com/ios/50/000000/xbox-menu.png"
                            alt="xbox-menu" />
                    </a>
                </div>
                <div class="col navbar-text mx-2">
                    <div class="btn bg-info" style="padding: 10px;">
                        <a href="/story" style="color: antiquewhite; text-decoration:none;"> Share Your Event</a>
                    </div>
                </div>

                <div class="col navbar-text mx-2">
                    <div class="btn bg-info">
                        <a class="nav-link" href="/">HOME</a>
                    </div>
                </div>


            </div>
        </div>
    </nav>

    <div class="offcanvas sidenav offcanvas-start" tabindex="-1" id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <a href="#!" class="offcanvas-title text-decoration-none" id="offcanvasExampleLabel">Story Dashboard</a>
            <button type="button" class="btn-close float-end" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="col mt-3">
                <table class="table table-hover" width="50px">
                    <tbody>
                        <tr>
                            <td>
                                <img width="40" height="40"
                                    src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/48/external-friends-user-tanah-basah-glyph-tanah-basah.png"
                                    alt="external-friends-user-tanah-basah-glyph-tanah-basah" />
                                <a href="/story" class="text-decoration-none"> Public Story </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img width="40" height="40" src="https://img.icons8.com/dotty/80/laptop-metrics--v3.png"
                                    alt="laptop-metrics--v3" />
                                <a href="/stories" class="text-decoration-none">Stories dashboard</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img width="35" height="35" src="https://img.icons8.com/ios/50/000000/exit--v1.png"
                                    alt="exit--v1" />
                                <a href="/auth/logout" class="text-decoration-none">Logout</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/v/bs5/dt-1.13.8/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#data_story").DataTable({
                order: [0, 'desc']
            });
        });
    </script>
</body>

</html>