<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.datatables.net/v/bs5/dt-1.13.8/datatables.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>

<body>

    <!-- Navbar content -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a href="/student" class="navbar-brand">
                <img width="40" height="40" src="https://img.icons8.com/color/48/students.png" alt="students" />
                Our Students
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#my-nav"
                aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="my-nav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a href="/student" class="nav-link">
                            <i class="fas fa-code me-1"></i> Students</a></li>
                    <li class="nav-item"><a href="/worker" class="nav-link">
                            <i class="fas fa-code me-1"></i> Workers</a></li>
                    <li class="nav-item"><a href="/student/addstudent" class="nav-link"><i
                                class="fas fa-user-plus me-1"></i> Add Student</a></li>
                    <li class="nav-item"><a href="/worker/addworker" class="nav-link"><i
                                class="fas fa-user-plus me-1"></i> Add Worker</a></li>
                    <li class="nav-item"><a href="/problempage" class="nav-link"><i class="fas fa-globe me-1"></i> About
                            Students</a></li>
                    <li class="nav-item"><a href="/" class="nav-link"><i class="fas fa-home me-1"></i> Home</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Your content here -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6RqePmYhYYSmJMaRbS4gzmDcwbgo/uf9eZ8k6klSkzkv86oA" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/v/bs5/dt-1.13.8/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('table').DataTable({
                order: [0, 'desc']
            });

            var dropdownElementList = [].slice.call(document.querySelectorAll('.dropdown-toggle'))
            var dropdownList = dropdownElementList.map(function (dropdownToggleEl) {
                return new bootstrap.Dropdown(dropdownToggleEl)
            });
        });
    </script>


</body>

</html>