<div>
    <nav class=" navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a href="/student" class="navbar-brand">
                <img width="40" height="40" src="https://img.icons8.com/color/48/students.png" alt="students" />
                Our Students
            </a>
            <button class="navbar-toggler" data-bs-target="#my-nav" data-bs-toggler="collapse" area-controls="#my-nav"
                area-expanded="false" area-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="#my-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto ">
                    <li class="nav-item active">
                        <a href="/student" class="nav-link"><i class="fas fa-code me-1"></i>
                            Dashboard</a>
                    </li>
                    <li class="nav-item active">
                        <a href="/student/addstudent" class="nav-link">
                            <i class="fas fa-user-plus me-1"></i>
                            Add Student</a>
                    </li>
                    <li class="nav-item active">
                        <a href="#" class="nav-link"><i class="fas fa-globe me-1"></i>About Students</a>
                    </li>
                    <li class="nav-item active">
                        <a href="/" class="nav-link"><i class="fas fa-home me-1"></i>Home</a>
                    </li>
                </ul>
                <form id="search-site" class="d-flex" role="search" action='/student/search/:query' method='get'>
                    <input id="search" class="form-control me-2" type="search" placeholder="Search" name="query"
                        class="form-control w-50" aria-label="Search" placeholder="Search by name">
                    <button type="submit" class="btn btn-outline-success  rounded-pill" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</div>