<div style="padding-top: 5px;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a href="/student" class="navbar-brand">
                <img width="40" height="40" src="https://img.icons8.com/color/48/students.png" alt="students" />
                Our Students
            </a>
            <button class="navbar-toggler" data-bs-target="#my-nav" data-bs-toggler="collapse" area-controls="#my-nav"
                area-expanded="false" area-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="#my-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto ">
                    <li class="nav-item active">
                        <a href="/student" class="nav-link"><i class="fas fa-code me-1"></i>
                            Dashboard</a>
                    </li>
                    <li class="nav-item active">
                        <a href="/student/addstudent" class="nav-link">
                            <i class="fas fa-user-plus me-1"></i>
                            Add Student</a>
                    </li>
                    <li class="nav-item active">
                        <a href="#" class="nav-link"><i class="fas fa-globe me-1"></i>About Students</a>
                    </li>
                    <li class="nav-item active">
                        <a href="/" class="nav-link"><i class="fas fa-home me-1"></i>Home</a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>
</div>