<!--Bootstrap-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
<!-- Testimonial  Starts -->
<style>
    .gradient-custom {
        background: radial-gradient(100% 148.07% at 0% 0%, #eeeee7 0%);
        background-blend-mode: screen, color-dodge, overlay, difference, normal;
    }

    .testimonial-card .card-up {
        height: 90px;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }

    .testimonial-card .avatar {
        height: 110px;
        width: 260px;
        width: 90px;
        border: 3px solid #fff;
        border-radius: 50%;
    }

    .text-column {
        display: block;
    }
</style>

<section class="gradient-custom p-2 pb-5">
    <div class="row w-100 p-1">

        <div class="text-column">
            <h3 class="text-center">Jumj Families About : ~ Jumj</h3>

            <p class="text-center"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet
                numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum
                quisquam eum porro a pariatur veniam.
            </p>
        </div>

    </div>

    <div class="text-column">
        <div class="row text-center d-flex align-items-stretch">
            <!-----  1  -->
            <div class="col-md-3 mb-4 mb-md-0 d-flex align-items-stretch">
                <div class="card testimonial-card">
                    <div class="card-up" style="background-color: #9d789b;"></div>
                    <div class="avatar mx-auto bg-white">
                        <img src="/images/albany.png" class="rounded-circle img-fluid" />
                    </div>
                    <div class="card-body">
                        <h4 class="mb-4">Eng. Ahmedin Yunus</h4>
                        <h5 class="mb-4">Electrical Enginer</h5>
                        <h6 class="mb-4">Former KJUMJ Amir</h6>
                        <hr />
                        <p class="dark-grey-text mt-4">
                            <i class="fas fa-quote-left pe-2"></i>
                            JUMJ is one of the most popular university jama'a in ethiopia and its also among the
                            oldest and it has long history ,and had done great works and doing now for the musli
                            umma and the country as whole
                        </p>
                    </div>
                </div>
            </div>

            <!-----  2  -->

            <div class="col-md-3 mb-5 mb-md-0 d-flex align-items-stretch">
                <div class="card testimonial-card">
                    <div class="card-up" style="background-color: #9d789b;"></div>
                    <div class="avatar mx-auto bg-white">
                        <img src="/images/hunde.jpg" class="rounded-circle img-fluid width=80" width="90" height="90" />
                    </div>
                    <div class="card-body">
                        <h4 class="mb-4">Dr. Hunde Ali</h4>
                        <h5 class="mb-4">Medical Doctor and Child Speacialist</h5>
                        <h6 class="mb-4">Former JUMJ Amir</h6>
                        <hr />
                        <p class="dark-grey-text mt-4">
                            <i class="fas fa-quote-left pe-2"></i>
                            JUMJ is one of the most popular university jama'a in ethiopia and its also among the
                            oldest and it has long history ,and had done great works and doing now for the musli
                            umma and the country as whole
                        </p>
                    </div>
                </div>
            </div>

            <!-----  3  -->

            <div class="col-md-3 mb-5 mb-md-0 d-flex align-items-stretch">
                <div class="card testimonial-card">
                    <div class="card-up" style="background-color: #7a81a8;"></div>
                    <div class="avatar mx-auto bg-white">
                        <img src="/images/sh-shafi.jpg" class="rounded-circle img-fluid" />
                    </div>
                    <div class="card-body">
                        <h4 class="mb-4">Sheikh Shafi Mohammed</h4>
                        <h5 class="mb-4">Ustaz In JUMJ </h5>

                        <h6 class="mb-4">Lecture In Jimma University</h6>

                        <hr />
                        <p class="dark-grey-text mt-4">
                            <i class="fas fa-quote-left pe-2"></i>
                            JUMJ is one of the most popular university jama'a in ethiopia and its also among the
                            oldest and it has long history ,and had done great works and doing now for the musli
                            umma and the country as whole
                        </p>
                    </div>
                </div>
            </div>

            <!-----  4  -->

            <div class="col-md-3 mb-0 d-flex align-items-stretch">
                <div class="card testimonial-card">
                    <div class="card-up" style="background-color: #6d5b98;"></div>
                    <div class="avatar mx-auto bg-white">
                        <img src="/images/nesrellah.jpg" class="rounded-circle img-fluid" />
                    </div>
                    <div class="card-body">
                        <h4 class="mb-4">Dr. Nesrellah </h4>
                        <h5 class="mb-4">Medical Doctor</h5>
                        <h6 class="mb-4">Former JUMJ Amir</h6>
                        <hr />
                        <p class="dark-grey-text mt-4">
                            <i class="fas fa-quote-left pe-2"></i>
                            JUMJ is one of the most popular university jama'a in ethiopia and its also among the
                            oldest and it has long history ,and had done great works and doing now for the musli
                            umma and the country as whole
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!----Testimonial  Starts--->

<script src="script.js"></script>