<!--custmom cs link-->
<link rel="stylesheet" href="/css/style-welcome.css">

<div class="sidebar">
    <div class="row">
        <div class="col image">
            <img src="/images/favicon_io/jumjandroid-512x512.png">
        </div>
        <div class="col image">
            <section class="col" id="home">
                <div>
                    <h3> Welcome to JUMJ</h3>
                    <h6>Jimma University Muslim Student Jema'a one of the oldest Well Organised jema'a in our
                        country </h6>
                </div>
                <div class="btn">

                    <a class="blue" href="/news">What's New</a>
                    <a class="yellow" href="#jamaa_works">Visit the Jema'a Works</a></a>
                </div>
            </section>
        </div>
    </div>
</div>