<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp8N2zoUZj5C4y1xj" crossorigin="anonymous">

<div class="container py-3" id="jamaa_works">
    <div class="title h1 text-center">
        <h3 class="h3-text">Contribution of Jumj</h3>
    </div>

    <!-- Card Start -->
    <div class="card">
        <div class="row">
            <div class="col-md-7 px-3">
                <div class="card-body px-6">
                    <h4 class="card-title">Horizontal Card with Carousel - Bootstrap 5 </h4>
                    <p class="card-text">
                        The Carousel code can be replaced with an img src, no problem. The added CSS brings shadow
                        to the card and some adjustments to the prev/next buttons and the indicators is rounded now.
                        As
                        in Bootstrap 3
                    </p>
                    <p class="card-text">Made for usage, commonly searched for. Fork, like and use it. Just move the
                        carousel div above the col containing the text for left alignment of images</p>
                    <br>
                    <a href="#" class="mt-auto btn btn-primary">Read More</a>
                </div>
            </div>

            <!-- Carousel start -->
            <div class="col-md-5">
                <div id="CarouselTest" class="carousel slide" data-bs-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-bs-target="#CarouselTest" data-bs-slide-to="0" class="active"></li>
                        <li data-bs-target="#CarouselTest" data-bs-slide-to="1"></li>
                        <li data-bs-target="#CarouselTest" data-bs-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="/images/blood.jpg" alt="">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/images/albany.png" alt="">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/images/mesjid.png" alt="">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#CarouselTest"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#CarouselTest"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <!-- End of carousel -->
        </div>
    </div>
    <!-- End of card -->

</div>

<div class="container">
    <div class="card float-start">
        <div class="row">
            <div class="col-sm-7">
                <div class="card-body">
                    <!--           <h4 class="card-title">Small card</h4> -->
                    <p>Wetgple text to build your own card.</p>
                    <p>Change around the content for awesomeness</p>
                    <a href="#" class="btn btn-primary btn-sm">Read More</a>
                </div>
            </div>
            <div class="col-sm-5">
                <img class="d-block w-100" src="https://picsum.photos/150?image=380" alt="">
            </div>
        </div>
    </div>

    <div class="card float-end ">
        <div class="row">
            <div class="col-sm-5">
                <img class="d-block w-100" src="https://picsum.photos/150?image=641" alt="">
            </div>
            <div class="col-sm-7">
                <div class="card-body">
                    <!--           <h4 class="card-title">Small card</h4> -->
                    <p>Copy paste the HTML and CSS.</p>
                    <p>Change around the content for awesomeness</p>
                    <br>
                    <a href="#" class="btn btn-primary btn-sm float-end">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-eUGSt8RRl4MCKb40DyqpS7tQa6g4s0V/kPsXp7Nq9BncELTAg/5COAI0H+uLZdWW"
    crossorigin="anonymous"></script>