<div class="w-100" style="z-index: 99;  ">
    {{> _workerheader}}
</div>
<h3 class="mt-1" style="padding-left:40px; padding-top: 10px;">Add Workers</h3>
<div class="row  " style="padding-left: 30px; padding-right: 30px;">
    <form action="/worker" method="POST" enctype="multipart/form-data" onsubmit="return validateForm()">
        <!--- 1 name--->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto">
            <label for="title" class="form-label" required>Name</label>
            <input type="text" class="form-control" id="title" name="name" placeholder="Enter name">
        </div>
        <!--- 2 email--->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto ">
            <label for="title" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
        </div>
        <!--- 3 phone--->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto">
            <label for="title" class="form-label ">Phone</label>
            <input type="tel" class="form-control " id="phone" name="phone" placeholder="Enter phone" required>
        </div>
        <!--- 4 Position --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto ">
            <label for="position" class="form-label">Position</label>
            <select class="form-select" id="position" name="position" required>
                <option value="Teacher" selected>Teacher</option>
                <option value="Manager">Manager</option>
                <option value="Ustaz">Ustaz</option>
                <option value="Cleaner">Cleaner</option>
                <option value="Security">Security</option>
                <option value="Driver">Driver</option>
                <option value="Cashier">Cashier</option>
                <option value="Director">Director</option>
                <option value="IT-Technician">IT-Technician</option>
            </select>
        </div>

        <!--- 5 salary--->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto">
            <label for="title" class="form-label ">Salary</label>
            <input type="text" class="form-control " id="salary" name="salary" placeholder="Enter salary">
        </div>

        <!--- 6 gender--->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto ">
            <label for="gender" class="form-label">Gender</label>
            <select class="form-select" id="gender" name="gender" required>
                <option value="M" selected>M</option>
                <option value="F">F</option>
            </select>
        </div>
        <!--- 7 Image --->
        <div class="mb-1 col-md-4 col-lg-6 col-xl-4 mx-auto">
            <label for="image" class="form-label">Select Image</label>
            <input type="file" class="form-control" id="image" name="image">
        </div>
        <!--- 8 Action --->
        <div class="mb-3 col-md-6 col-lg-2 col-xl-4 mx-auto" style="padding-top: 10px;">
            <button type="submit" class="btn btn-primary">Add </button>
            <a href="/worker" class="btn btn-warning">Cancel</a>
        </div>
    </form>
</div>