<div class="w-100" style="z-index: 99; position:fixed; padding-top:1px;">
    {{> _studentheader}}
</div>
<h3 class="mt-4" style="padding-left:40px; padding-top: 70px;">Add Workers</h3>
<div class="row p-4 ">
    <form action="/worker" method="POST" enctype="multipart/form-data">
        <!--- 1 name--->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto">
            <label for="title" class="form-label" required>Name</label>
            <input type="text" class="form-control" id="title" name="name" placeholder="Enter name">
        </div>
        <!--- 2 email--->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto ">
            <label for="title" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
        </div>
        <!--- 3 phone--->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto">
            <label for="title" class="form-label ">Phone</label>
            <input type="tel" class="form-control " id="phone" name="phone" placeholder="Enter phone">
        </div>
        <!--- 4 salary--->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto">
            <label for="title" class="form-label ">Salary</label>
            <input type="text" class="form-control " id="salary" name="salary" placeholder="Enter salary">
        </div>

        <!--- 5 gender--->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto ">
            <label for="gender" class="form-label">Gender</label>
            <select class="form-select" id="gender" name="gender">
                <option value="M" selected>M</option>
                <option value="F">F</option>
            </select>
        </div>
        <!--- 6 Image --->
        <div class="mb-1 col-md-4 col-lg-6 col-xl-4 mx-auto">
            <label for="image" class="form-label">Select Image</label>
            <input type="file" class="form-control" id="image" name="image">
        </div>
        <!--- 7 Action --->
        <div class="mb-3 col-md-6 col-lg-2 col-xl-4 mx-auto" style="padding-top: 10px;">
            <button type="submit" class="btn btn-primary">Add </button>
            <a href="/worker" class="btn btn-warning">Cancel</a>
        </div>
    </form>
</div>