<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jema'a Amir </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-y3sN5qurN6C+fOR1ZoI7wKih7MzSqqe9H+IB5BrB3PKpQF0dCpWe1TZbOoYGg8" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-xBqEnFk1TC+2s9wAeUnp76cCqA5IcMXYgRVNkd3LQ6ZXfJt3S2x82CUq3uSWq8J6"
        crossorigin="anonymous"></script>
</head>

<body class="w-100">
    <section id="dvi1" style="padding-top: 80px;">
        {{> _homeheader}}
    </section>

    <style>
        .entry_banner {
            background-image: url('/images/back_contact.jpg');

            /* Full height */
            height: 200px;

            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

        }

        h1 {
            padding-top: 80px;
            padding-left: 130px;
        }


        #hr_about {
            border: 2px solid rgb(43, 253, 1);
        }

        #hr_wpb_column {
            border: 2px solid rgb(245, 33, 5);
        }

        .entry_content {
            display: flex;
        }

        .vc_row {
            flex-basis: 67%;
            padding-top: 50px;
            padding-right: 40px;
        }

        .wpb_column {
            flex-basis: 33%;
            padding-bottom: 30px;
            padding-left: 10px;
        }
    </style>

    <div id="content" class="site-content">
        <div class="entry_banner">
            <div class="container">
                <div class="entry_banner_content">
                    <h1 class=" text-white ">Central Amir's Message</h1>
                </div>
            </div>
        </div>


    </div>

    <div class="row_basic">
        <div id="primary" class="content_area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-12">
                        <main id="main" class="site-main">
                            <article id="post-2764" class="post-2764 page type-page status-publish hentry">
                                <div class="entry_content">
                                    <div class="vc_row wpb_row vc_row-fluid">
                                        <div class="wpb_column vc_column_container vc_col-sm-8">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <hr
                                                                style="border-top: 5px solid rgb(0, 103, 184); display: none;">
                                                            <div class="region region-content">
                                                                <div id="block-system-main"
                                                                    class=" region-block contextual-links-region">
                                                                    <div class="content clearfix">
                                                                        <div id="node-107"
                                                                            class="node node-page clearfix">
                                                                            <div class="content clearfix">
                                                                                <div
                                                                                    class="field field-name-body field-type-text-with-summary field-label-hidden">
                                                                                    <div class="field-items">
                                                                                        <div class=" field-item even">
                                                                                            <div
                                                                                                class="field-item even">
                                                                                                <strong><img
                                                                                                        style="padding-left: 40px; padding-bottom:40px;"
                                                                                                        alt="amir image"
                                                                                                        width="378"
                                                                                                        height="417"
                                                                                                        data-sizes="(max-width: 278px) 100vw, 278px"
                                                                                                        class="wp-image-2100 alignleft lazyloaded"
                                                                                                        src="/images/amir.jpg"
                                                                                                        sizes="(max-width: 278px) 100vw, 278px"
                                                                                                        <pstyle="padding-left: 50px;">
                                                                                                    <p>Dear Visitors</p>
                                                                                                    </p> &nbsp;
                                                                                                </strong>
                                                                                            </div>

                                                                                            <div class="field-item even"
                                                                                                style="text-align: justify;">
                                                                                                Welcome to Jimma
                                                                                                University Muslim Jema'a
                                                                                            </div>
                                                                                            <div class="field-item even"
                                                                                                style="text-align: justify;">

                                                                                                Jimma University’s motto
                                                                                                “We are in the
                                                                                                Community!” extends to
                                                                                                all levels of the
                                                                                                university, including
                                                                                                the leadership.
                                                                                                &nbsp;Jimma University
                                                                                                is accessible and
                                                                                                responsive to inquiries
                                                                                                and exchanges with all
                                                                                                sectors of the campus
                                                                                                community. Openness and
                                                                                                transparency are
                                                                                                emphasized and positive
                                                                                                and constructive
                                                                                                discourse with the
                                                                                                leadership of JU helps
                                                                                                in moving the
                                                                                                institution forward.
                                                                                                Visitors to JU find the
                                                                                                leaders of the
                                                                                                institution friendly and
                                                                                                curious about their
                                                                                                experiences at JU and
                                                                                                show Ethiopia’s famous
                                                                                                hospitality to all
                                                                                                newcomers on campus. We
                                                                                                engage the broader
                                                                                                campus community in a
                                                                                                variety of ways, and it
                                                                                                is not uncommon to see
                                                                                                the top management
                                                                                                engaging casually with
                                                                                                students, faculty,
                                                                                                foreign guests and
                                                                                                staff. Through this, the
                                                                                                cohesiveness of the
                                                                                                campus community is
                                                                                                strengthened, and a
                                                                                                truly unique
                                                                                                collaborative
                                                                                                environment is created.
                                                                                            </div>

                                                                                            <div class="field-item even"
                                                                                                style="text-align: justify;">
                                                                                                Jimma University
                                                                                            </div>


                                                                                            <div class="field-item even"
                                                                                                style="text-align: justify;">
                                                                                                Our leadership has also
                                                                                                been active in ensuring
                                                                                                the campus is a diverse
                                                                                                setting with individuals
                                                                                                from various backgrounds
                                                                                                and regions. Students
                                                                                                come from all regions of
                                                                                                Ethiopia, including
                                                                                                developing regions such
                                                                                                as Afar, Gambella, and
                                                                                                Somali region. The
                                                                                                leadership has also been
                                                                                                proactive in making
                                                                                                Jimma University a
                                                                                                regional and African
                                                                                                academic institution,
                                                                                                and have worked towards
                                                                                                bring students from
                                                                                                Somaliland, South Sudan,
                                                                                                as well as Gambia,
                                                                                                Nigeria, and Zambia to
                                                                                                the campus community.
                                                                                            </div>
                                                                                            <div class="field-item even"
                                                                                                style="text-align: justify;">
                                                                                                We also recognizes
                                                                                                the
                                                                                                significance of
                                                                                                public-private
                                                                                                partners
                                                                                                for 21st century
                                                                                                development, and in
                                                                                                the
                                                                                                preparation of
                                                                                                students
                                                                                                for industry upon
                                                                                                graduation. Through
                                                                                                innovative programs
                                                                                                such
                                                                                                as those with ABH
                                                                                                Healthcare and Lucy
                                                                                                Consulting
                                                                                                Engineering,
                                                                                                the leadership is
                                                                                                paving
                                                                                                the way for Jimma
                                                                                                University to be
                                                                                                among
                                                                                                the most industry
                                                                                                friendly higher
                                                                                                education
                                                                                                institutions
                                                                                                in not just Ethiopia
                                                                                                but
                                                                                                in Africa.
                                                                                            </div>
                                                                                            <div class="field-item even"
                                                                                                style="text-align: justify;">
                                                                                                Thank you for your
                                                                                                interest and we
                                                                                                welcome
                                                                                                you to explore our
                                                                                                website. Your
                                                                                                interest
                                                                                                and enthusiasm are
                                                                                                highly valued and
                                                                                                appreciated</div>
                                                                                            <div class="field-item even"
                                                                                                style="text-align: justify;">
                                                                                                Sincerely,</div>
                                                                                            <div class="field-item even"
                                                                                                style="text-align: justify;">
                                                                                                <strong>&nbsp;</strong>
                                                                                            </div>
                                                                                            <div
                                                                                                class="field-item even">
                                                                                                <strong>Abdurehman
                                                                                                    Sh/Anwar
                                                                                                    (Software
                                                                                                    Engineer)</strong>
                                                                                            </div>
                                                                                            <div
                                                                                                class="field-item even">
                                                                                                <strong>Amir of
                                                                                                    Jimma
                                                                                                    University Muslim
                                                                                                    Student
                                                                                                    Jema'a&nbsp;</strong>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="wpb_column vc_column_container vc_col-sm-4 "
                                        style="padding-right: 20px; padding-top:110px; text-decoration:none;">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                                    <div class="wpb_wrapper">
                                                        <div id="container" style="text-decoration: none;">
                                                            <ul>
                                                                <table width="100%" cellspacing="0" cellpadding="0"
                                                                    border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>
                                                                                <h3> About Jimma University </h3>
                                                                                <ul style="padding-left:30px;">
                                                                                    <li><strong><a href="#"
                                                                                                style="text-decoration:none;">●
                                                                                                About Jimma
                                                                                                University Muslim
                                                                                                Jema'a</a></strong>
                                                                                    </li>
                                                                                    <li><strong><a href="/amirdetail"
                                                                                                style="text-decoration:none;">●
                                                                                                Amir
                                                                                                Message</a></strong>
                                                                                    </li>
                                                                                    <li><strong><a href="#"
                                                                                                style="text-decoration:none;">●
                                                                                                Vision and
                                                                                                Mission</a></strong>
                                                                                    </li>
                                                                                    <li><strong><a href="/contact"
                                                                                                style="text-decoration:none;">●
                                                                                                Contact Us</a></strong>
                                                                                    </li>
                                                                                    <li><strong><a href="#"
                                                                                                style="text-decoration:none;">●
                                                                                                Jimma University Muslim
                                                                                                Jema'a
                                                                                                Location</a></strong>
                                                                                    </li>
                                                                                </ul>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>

                                                            </ul>
                                                        </div>

                                                        <style>
                                                            tr {
                                                                border-bottom: 2px solid red;
                                                            }

                                                            tr {
                                                                border-top: 5px solid #0067b8;
                                                            }
                                                        </style>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <hr id="hr_wpb_column">


                                    </div>
                                </div>
                    </div>
                    </article>
                    </main>
                </div>
            </div>
        </div>
    </div>
    </div>

    <section id="div10" style="padding-top:10px;">
        {{> _footer}}
    </section>
</body>

</html>