.gradient_custom_feature {
    background:
        linear-gradient(121.28deg, #526152 0%, #00ffc8 100%),
        radial-gradient(100% 148.07% at 0% 0%, #584491 0%, #96885a 100%);
    background-blend-mode: screen, color-dodge, overlay, difference, normal;
    top: 0;
    z-index: auto;
}

.feature_card .card-up {
    height: 90px;
    width: 260px;
    overflow: hidden;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.feature_card .avatar {
    width: 110px;
    margin-top: -60px;
    overflow: hidden;
    border: 3px solid #fff;
    border-radius: 50%;
}

.features-top {
    padding-top: 20px;
}

.feature-image {
    width: 40px;
    height: 50px;
    display: center;
}