.jumj_image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.container-fluid {
    position: sticky;
    top: 100;
    z-index: 99;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.fa-angle-right {
    float: right;
}

.no {
    list-style-type: none;
    padding-left: 6px;
}

.loginbtn {
    background-color: #fff;
    padding-right: 3px;
    padding: 7px 17px;
    border-radius: 20px;
    color: #101C32;
    transition: 0.4s ease-in-out;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid rgb(231, 24, 24);
}

a {
    text-decoration: none;
}

.loginbtn:hover {
    color: #fff;
    background: rgb(236, 56, 56);
    transition: 0.3s ease;
}