<div class="container mt-5">
    <h3>Edit your Event</h3>
    <div class="row" style="padding-left: 80px;">
        <form action="/stories/{{story._id}}" method="POST" class="col-md-8 col-lg-6">
            <input type="hidden" name="_method" value="PUT">
            <!-- 1 image--->
            <div class="mb-3">
                <label for="image" class="form-label">Change Image</label>
                <input type="file" class="form-control" id="image" name="image" value="{{story.image}}">
            </div>

            <!-- 2 title--->
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" value="{{story.title}}">
            </div>

            <!-- 3 status --->
            <div class="mb-3">
                <label for="status" class="form-label">Status</label>
                <select class="form-select" id="status" name="status">
                    {{#select story.status}}
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                    {{/select}}
                </select>
            </div>

            <!-- 4 body--->
            <div class="mb-3">
                <label for="body" class="form-label">Tell Us Your Story:</label>
                <textarea class="form-control" id="body" name="body">{{story.body}}</textarea>
            </div>

            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-primary">
                <a href="/dashboard" class="btn btn-warning">Cancel</a>
            </div>
        </form>
    </div>
</div>