<div style="padding: 80px;">
    <h1>
        <img width="48" height="48" src="https://img.icons8.com/color/48/server-shutdown.png" alt="server-shutdown" />
        Server Error
    </h1>
    <p>We're sorry, something went wrong</p>
    <div style="padding-top: 40px;">
        <a role="button" class="btn btn-outline-success " href="/" target="_blank">
            Go to Home </a>
    </div>
</div>