<div style="z-index: 99;">
    {{> _studentheader}}
</div>

<h3 class="mt-3" style="padding-left: 140px; ">Add Students</h3>
<div class="row p-2 ">
    <form action="/student" method="POST" enctype="multipart/form-data" onsubmit="return validateForm()">
        <!--- 1 name--->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto">
            <label for="title" class="form-label" required>Name</label>
            <input type="text" class="form-control" id="title" name="name" placeholder="Enter name">
        </div>
        <!--- 2 email--->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto ">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
        </div>
        <!--- 3 phone--->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto">
            <label for="phone" class="form-label ">Phone</label>
            <input type="tel" class="form-control " id="phone" name="phone" placeholder="Enter phone" required>
        </div>
        <!--- 4 grade --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto ">
            <label for="grade" class="form-label">Grade</label>
            <select class="form-select" id="grade" name="grade" required>
                <option value="kg-1">kg-1</option>
                <option value="kg-2">kg-2</option>
                <option value="kg-3">kg-3</option>
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
        </div>
        <!--- 5 status --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto ">
            <label for="status" class="form-label">Status</label>
            <select class="form-select" id="status" name="status">
                <option value="Paid" selected>Paid</option>
                <option value="Not-Paid">Not-Paid</option>
            </select>
        </div>
        <!--- 6 gender--->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto ">
            <label for="gender" class="form-label">Gender</label>
            <select class="form-select" id="gender" name="gender" required>
                <option value="M" selected>M</option>
                <option value="F">F</option>
            </select>
        </div>
        <!--- 7 Image --->
        <div class="mb-1 col-md-4 col-lg-6 col-xl-4 mx-auto">
            <label for="image" class="form-label">Select Image</label>
            <input type="file" class="form-control" id="image" name="image">
        </div>
        <!--- 8 Action --->
        <div class="mb-3 col-md-6 col-lg-2 col-xl-4 mx-auto" style="padding-top: 10px;">
            <button type="submit" class="btn btn-primary">Add </button>
            <a href="/student" class="btn btn-warning">Cancel</a>
        </div>
    </form>
</div>