<div style="z-index: 99; ">
    {{> _newsheader}}
</div>

<h3 class="mt-3" style="padding-left: 140px; ">Create News</h3>
<div class="row p-2 ">
    <form action="/news" method="POST" enctype="multipart/form-data" onsubmit="return validateForm()">
        <!--- 1 Image --->
        <div class="mb-1 col-md-4 col-lg-6 col-xl-4 mx-auto">
            <label for="image" class="form-label">Select Image</label>
            <input type="file" class="form-control" id="image" name="image">
        </div>
        <!--- 2 title --->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-4 mx-auto">
            <label for="title" class="form-label" required>Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="title">
        </div>
        <!--- 3 body--->
        <div class="mb-1 col-md-4 col-lg-2 col-xl-6 mx-auto">
            <label for="body" class="form-label">News body</label>
            <textarea class="form-control" id="body" name="body" required></textarea>
        </div>

        <!--- 8 Action --->
        <div class="mb-3 col-md-6 col-lg-2 col-xl-4 mx-auto" style="padding-top: 10px; padding-left: 50px;">
            <button type="submit" class="btn btn-primary">Broadcast </button>
            <a href="/newspage" class="btn btn-warning">Cancel</a>
        </div>
    </form>
</div>