<!-- views/news/edit.hbs -->

<h1>Edit News</h1>

<form action="/news/{{_id}}?_method=PUT" method="POST">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" value="{{title}}" required>
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea class="form-control" id="content" name="content" rows="4" required>{{content}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>